:root {
--size-full: 100%;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #d9b256;
  --spacing : 4.375rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

.swiper {
  width: var(--size-full);
  height: var(--size-full);
}

.container {
  width: var(--size-full);
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

@media only screen and (max-width: 1140px) {
  .container {
    --spacing: 0px;
  }
}

/* Caption Animation */
@keyframes slideInTop{
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}