.banner {
	position: relative;
	width: var(--size-full);
	padding-top: 50%;

	margin-top: 1.25rem;
	user-select: none;
}

.banner__wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--size-full);
	height: var(--size-full);
}

.banner__item {
	position: relative;
	height: var(--size-full);
	width: var(--size-full);
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner__caption {
	text-align: right;
	position: absolute;
	top: 0;
	right: 0;
	width: 27.5rem;
	padding-top: 3.75rem;
	padding-bottom: 3.75rem;
	background: var(--color-primary);
}

.banner__captionAnimated {
	animation: slideInTop 1s ease-in-out forwards;
}

.banner__captionText h2 {
    font-size: 4rem;
    color: var(--color-white);
}

.captionTextOut {
	animation: slideInRight 1s ease-in-out 1.5s forwards;
}

